@media screen {
    /* Logo Size */
    #custom-logo {
        width: 64px;
        height: 64px;
    }

}

@media screen {
    /* Margin Logo */
    .container>
        .navbar-header, .container-fluid>
        .navbar-header, .container>
        .navbar-collapse, .container-fluid>
        .navbar-collapse {
        margin-right: 0;
        margin-left: 2%;
    }

    /* Text center vertical */
    a.navbar-brand{
        float: left;
        padding: 23.5px 15px 18.5px 15px;
        font-size: 19px;
        line-height: 21px;
    }

    .navbar.navbar-default {
        background-color: #000000;
        border-color: transparent;
    }

}
