{% load i18n %}

{% load navigation_tags %}
{% load smart_settings_tags %}

{% spaceless %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" type="button">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="custom-logo" class="navbar-brand" src="https://lh5.googleusercontent.com/1Y2GTJ2PHrG7HBhMihHbIx-gOMAccvGvgy-4z2XgSrF8CRaBfiz1AI39Z1mCZfxUF1s7WLfGq-9ctYs9ZLbT=w1920-h955-rw">
                <a class="navbar-brand" href="{% url home_view %}"> Version Depveloper </a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% navigation_resolve_menu name='topbar' as topbar_menus_results %}
                    {% for tobpar_menu_result in topbar_menus_results %}
                        {% for link_group in tobpar_menu_result.link_groups %}
                            {% for link in link_group.links %}
                                {% with 'true' as as_li %}
                                {% with 'true' as hide_active_anchor %}
                                {% with 'active' as li_class_active %}
                                {% with 'first' as li_class_first %}
                                {% with ' ' as link_classes %}
                                    {% include 'navigation/generic_subnavigation.html' %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endspaceless %}
